---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
</head>
<body>
  <div id="main">

    <img class="logo" src= {{ site.full_logo }} alt="Jobi logo"/>    

    <nav><ul>
      {% for node in site.posts reversed %}
        {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
      {% endfor %}
    </ul></nav>
    
    <div class="cover" style="background-color: {{ site.white }}">
      <h1 class="cover-caption">Hello Jobi</h1>
      <h2 class="cover-caption sub">Please make my job search quick and easy</h2>
      <img src= {{ site.cover_img }} alt="Cover Photo"/>
    </div>

    {% for page in site.posts reversed %}
      {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
      <div id="{{id}}" class="section p-{{id}}">
        {% if page.icon %}
        <div class="subtlecircle sectiondivider imaged">
          <img src="{{page.icon}}" alt="section icon" />
          <!-- <h5 class="icon-title">{{ page.title }}</h5> -->
        </div>
        {% elsif page.fa-icon %}
        <div class="subtlecircle sectiondivider faicon">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-{{ page.fa-icon }} fa-stack-1x" style="color:{{ site.colors.two }}"></i>
          </span>
          <!-- <h5 class="icon-title">{{ page.title }}</h5> -->
        </div>
        {% endif %}
        <div class="container {{ page.style }}">
          {{ page.content }}
          {% if page.form %}
            <br>
            <script data-cfasync="false" type="text/javascript" src="/form-submission-handler.js"></script>
            <aside>
                <h4 class="left">
                  First, let's make sure you've finished all of the steps above.         
                </h4>
            </aside>
            
            <form id="gform" method="POST" data-email="ssmolkin1@gmail.com"
            action="https://script.google.com/macros/s/AKfycbzZikn2Hcj6D1-XMY1UwLVkqREEuEr3C8lobQhbK_1BIR3OS4Zj/exec">
              <!-- change the form action to your script url -->
            
              <fieldset>
                <label for="email">My <em>new</em> Gmail address is:</label>
                <input id="email" name="email" type="email"
                required />
                <span id="email-invalid" class="form-error">
                  Must be a valid Gmail address<br>.</span>
            
                <label for="password">The password is:</label>
                <input id="password" name="password" type="password" placeholder="password"
                required />
            
                <input id="password-match" name="password-match" type="password" placeholder="confirm password"
                required />
                <span id="password-match-invalid" class="form-error">
                  Password must match.<br>.</span>
            
                  <input id="confirm-email" type="checkbox" name="confirm-email" required />
                    I made a brand new Gmail account which I will not use for any other purpose.<br>
            
                  <input id="confirm-pass" type="checkbox" name="confirm-pass" required />
                    I chose a new password which I have never used before, and I will not use it for any other purpose.
              </fieldset>
              
              <button class="button-xlarge">
                  <i class="fa fa-paper-plane"></i>&nbsp;Send</button>
            
              </form>
            <!-- Customise the Thankyou Message People See when they submit the form: -->
            <div style="display:none;" id="thankyou_message">
              <h2><em>Thanks</em> for contacting us!
                We will get back to you soon!</h2>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}


    <div id="footer" class="section text-white">
      <div class="container">
        {% capture foottext %} {% include footer.md %} {% endcapture %}
        {{ foottext | markdownify }}
      </div>
    </div>
  </div>

{% include analytics.html %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="site.js"></script>
</html>
