</br>

<div id="jobi-form">
  <aside>
    <h4>
      First, let's make sure you've finished all of the steps above.         
    </h4>
  </aside>

  <form id="gform" method="POST" data-email=""
  action="https://script.google.com/macros/s/AKfycbzZikn2Hcj6D1-XMY1UwLVkqREEuEr3C8lobQhbK_1BIR3OS4Zj/exec">
    <!-- change the form action to your script url -->

    <fieldset>
      <label for="email">My new Gmail address is:</label>
      <input id="email" name="email" type="email" autocomplete="off" placeholder="thenewme@gmail.com*" required />
      <span id="email-invalid" class="form-error">
        Must be a valid Gmail address<br>.</span>

      <label for="password">The password is:</label>
      <input id="password" name="password" type="password" placeholder="password*"
      required />

      <input id="password-match" name="password-match" type="password" placeholder="confirm password*"
      required />
      <span id="password-match-invalid" class="form-error">
        Password must match.<br>.</span>

      <input id="confirm-email" type="checkbox" name="confirm-email" required />
        I made a brand new Gmail account which I will not use for any other purpose.*<br>

      <input id="confirm-pass" type="checkbox" name="confirm-pass" required />
        I chose a new password which I have never used before, and I will not use it for any other purpose.*<br>
        
      <input id="confirm-pass" type="checkbox" name="confirm-pass" required />
        I turned off 2-Step Verification.*
    </fieldset>

    <fieldset>
      <label for="cv-uploaded">Wait, did I upload my resume or CV to Google Drive using my new Gmail account?</label>
      <input id="cv-uploaded" type="checkbox" name="cv-uploaded" required />Yes, I did!*
    </fieldset>      
    
    <aside>
      <h4>
        Now, please help us get to know you better.         
      </h4>
    </aside>

    <fieldset>
        <label for="name">My name is:</label>
        <input name="name" id="name" placeholder="full name*" autocomplete="name" required>
    </fieldset>
    
    <fieldset class="address-form">
        <label for="address-line1">My contact details are:</label>
        <input name="address-line1" id="address-line1" placeholder="address line 1*" autocomplete="address-line1" required>

        <input name="address-line2" id="address-line2" placeholder="address line 2" autocomplete="address-line2">

        <input name="city" id="city" placeholder="city*" required>
        
        <input name="state" id="frmStateS" placeholder="state">
        
        <input name="postal-code" id="postal-code" placeholder="zip or post code*" autocomplete="postal-code" required>
        
        <input name="country" id="country" placeholder="country*" autocomplete="country-name" required>

        <input type="tel" name="phone" id="phone" placeholder="phone number*" autocomplete="tel" required>
    </fieldset>


    <button class="button-xlarge button-success">
        <i class="fa fa-paper-plane"></i>&nbsp;Send</button>
  </form>
</div>

  <!--Submission message -->
<div style="display:none;" id="submit_message">
  <h2>Thanks, this is going to be a big help! Now, let's pick a plan and get started!</h2>
</div>